* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100%;
    min-width: 100%;
    font-family: Arial, sans-serif;
    background-color: #503232;
    color: #e4e4e4;
}
header {
    position: sticky;
    width: 100%;
    background-color: #7a4b4b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
}
#heading {
    width: 40%;
    font-size: 2.1vmax;
    padding: 2%;
}
.btn1{ 
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
}
.btn1 button {
    padding: 2% 3%;
    font-size: 1.6vmax;
    background-color: #e4e4e4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn1 button a {
    text-decoration: none;
    color: #503232;
}
.btn1 button:hover {
    background-color: #c3c3c3;
    color: black;
    box-shadow: 5px 5px 5px rgb(96, 50, 50);
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 10px;
}
.menus {
    padding: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#card-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1%; 
    height: 50vh;
    background-color: #7a4b4b;
    border-radius: 10%;
    border: 5px solid white;
}
#card-container img {
    height: 70%;
    border-radius: 20%;
}
#card-container h2 , span , button {
    color: #c3c3c3;
    font-family: cursive;
}
#card-container button {
    cursor: pointer;
    padding: 1% 2%;
    font-size: 1.2vmax;
    color: #503232;
    border-radius: 10%;
}
@media screen and (max-width: 400px) {
    #card-container {
        width: 90%;
    }
    .menus {
        flex-direction: column;
        gap: 5%;
    }
}
@media only screen and (max-width: 600px) {
    header {
        width: 100%;
        height: 13vh;
    }
    #heading {
        width: 25%;
        font-size: 4vw;
    }
    .btn1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 75%;
        padding: 2% 5%;
        gap: 2%;
    }
    .btn1 button {
        padding: 2% 3%;
        font-size: 5vw;
    }
    .center {
        width: 85%;
        height: 75vh;
    }
}